{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userform</title>

</head>


<body>
    <h1>This is our form filling option</h1>
    <br>
    <form method="post" >
      

        {% csrf_token %}
     <label >Value1</label>   
    <input type="text" name="num1" placeholder="input the number" value="{{n1}}">
<div>
    {{n2}}
</div>
<br><br>

 <div>
    <button type="submit"> Send</button>
 </div>   
<br>

    </form>
 
</body>
</html>


